:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input {
	align-self: flex-start;
}

/*label {*/
/*	margin-bottom: 0px;*/
/*}*/

input[type=radio], label {
	vertical-align: middle;
	padding-bottom: 2px;
	margin: 2px;
}
