<fieldset
	[attr.next-focus-field]="getNextFocusField()"
	[attr.title]="tooltip"
	style="margin-left: 3px"
	*ngIf="!isHidden()"
>
	<div *ngFor="let option of getOptions().option"
	     style="margin-right: 5px"
	     [style.float]="getOptions().orientation == 'horizontal' ? 'left' : ''"
	     >
		<input
			type="radio"
		    [id]="option.name"
			[name]="getOptions().name"
			[ngClass]="getValidationCssClasses()"
			[value]="option.value"
			(click)="setValue(option.value)"
			[disabled]="!isWritable()"
		    [checked]="getValue() == option.value"
		/>
		<label [for]="option.name">{{option.label}}</label>
	</div>
</fieldset>
