<div id="full-text-search" *ngIf="showFullTextSearch">
	<div class="full-text-input form-inline search-input">

		<input
			class="form-control full-text-search-input"
			type="text"
			placeholder="{{'webclient.menu.livesearch' | i18n}}"
			(keyup)="searchtextChanged()"
			[(ngModel)]="searchtext"
		>
		<span
			class="fa fa-remove clear-searchfilter"
			*ngIf="searchtext"
			(click)="searchtext = ''; searchtextChanged();">
        </span>

	</div>
	<div
		class="full-text-search-result"
		*ngIf="results[0]"
	>
		<div
			*ngFor="let result of results"
			class="full-text-search-result-item"
		>
			<a
				href="{{result.url}}"
				[innerHtml]="result.text"
			>
			</a>
		</div>
	</div>
</div>
