<button
	type="submit"
	class="btn btn-primary btn-sm nuclos-next-state nuc-button"
	(click)="changeState.emit(state)"
	[title]="'webclient.button.change.state.to' | i18n:state.name"
	[attr.state-number]="state.number"
	[disabled]="saveInProgress"
>
	<img *ngIf="state.links.stateIcon?.href"
		[src]="state.links.stateIcon?.href"
	/>
	<span>{{state.buttonLabel || state.name}}</span>
</button>
