@import "../../../../styles";
@import "../../grid/grid.scss";

:host {
	height: 100%;
}

.collective-processing-progress-container {
	height: 100%;
}

.collective-processing-progress {
	height: 100%;
}

.ag-fresh {
	font-size: 0.6875rem; /* 11px */
	font-family: sans-serif;
	line-height: 1.25;
}
