<div class="form-inline">
	<div class="form-group">
		<label for="sql-logging">{{'webclient.serverInfo.log.sqlLogging' | i18n}}</label>
		<select
			id="sql-logging"
			[(ngModel)]="sqlLoggingMode"
			(ngModelChange)="selectSqlLoggingMode(sqlLoggingMode)"
			[ngModelOptions]="{standalone: true}"
			class="form-control mx-sm-3"
			title="{{'webclient.serverInfo.log.sqlLogging.tooltip' | i18n}}"
		>
			<option *ngFor="let option of sqlLoggingOptions" [value]="option.value">{{option.name}}</option>
		</select>

		<label for="log-level">{{'webclient.serverInfo.log.level' | i18n}}</label>
		<select
			id="log-level"
			[ngModel]="logLevel"
			(ngModelChange)="setLogLevel($event)"
			[ngModelOptions]="{standalone: true}"
			class="form-control mx-sm-3"
			title="{{'webclient.serverInfo.log.level.tooltip' | i18n}}"
		>
			<option *ngFor="let logLevel of logLevels" [value]="logLevel">{{logLevel}}</option>
		</select>


		<label for="debug-sql-input">{{'webclient.serverInfo.log.debugSqlInput' | i18n}}</label>
		<input
			id="debug-sql-input"
			type="text"
			class="form-control mx-sm-3"
			placeholder="{{'webclient.serverInfo.log.debugSqlInput' | i18n}}"
			title="{{'webclient.serverInfo.log.debugSqlInput.tooltip' | i18n}}"
			[(ngModel)]="debugSqlInput"
			(ngModelChange)="setDebugSqlInput($event)"
			[ngModelOptions]="{standalone: true}"
		/>

		<label for="debug-min-exec-time">{{'webclient.serverInfo.log.minExecTime' | i18n}}</label>
		<input
			id="debug-min-exec-time"
			type="text"
			class="form-control col-md-1 mx-sm-3"
			placeholder="{{'webclient.serverInfo.log.minExecTime' | i18n}}"
			title="{{'webclient.serverInfo.log.minExecTime.tooltip' | i18n}}"
			[(ngModel)]="minExecTime"
			(ngModelChange)="setMinExecTime($event)"
			[ngModelOptions]="{standalone: true}"
		/>
	</div>

	<div class="form-group">
		<label for="message-filter">{{'webclient.serverInfo.log.textFilter' | i18n}}</label>
		<input
			id="message-filter"
			type="text"
			class="form-control mx-sm-3"
			placeholder="{{'webclient.serverInfo.log.textFilter' | i18n}}"
			title="{{'webclient.serverInfo.log.textFilter.tooltip' | i18n}}"
			[(ngModel)]="textFilter"
			(ngModelChange)="setTextFilter($event)"
			[ngModelOptions]="{standalone: true}"
		/>
		<input id="log-autoscroll"
		       type="checkbox"
		       [ngModel]="autoScroll"
		       (ngModelChange)="setAutoscroll($event)"
		>
		<label for="log-autoscroll" title="{{'webclient.serverInfo.log.autoScroll.tooltip' | i18n}}">
			{{'webclient.serverInfo.log.autoScroll' | i18n}}
		</label>
	</div>
</div>
