<div [ngStyle]="{'width': dividerWidth+'px'}" class="d-flex flex-column justify-content-center align-content-center">
	<div style="margin-bottom: 2em;">
		<button class="btn btn-link p-0" *ngIf="showLeftToggle" (click)="leftToggle.emit()">
			<i class="fa fa-angle-double-left"></i>
		</button>
	</div>
	<div mwlResizeHandle
		[resizeEdges]="resizeEdges"
		 style="margin-bottom: 2em;">
		<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
	</div>
	<div>
		<button class="btn btn-link p-0" *ngIf="showRightToggle" (click)="rightToggle.emit()">
			<i class="fa fa-angle-double-right"></i>
		</button>
	</div>
</div>
