<div class="dropdown generation-container">
	<button class="btn btn-secondary btn-sm dropdown-toggle"
	   data-toggle="dropdown"
	   aria-haspopup="true"
	   aria-expanded="false"
	>
		{{'webclient.generator' | i18n}}
	</button>

	<div class="dropdown-menu">
		<a class="dropdown-item"
		   href="#"
		   *ngFor="let generation of eo?.getGenerationsForUser()"
		   (click)="generate(generation)"
		>
			{{generation.name}}
		</a>
	</div>
</div>
