<div
	class="date-input"
>
	<input
		*ngIf="isEnabled()"
		#datepicker="ngbDatepicker"
		#datepickerInput

		[id]="id"

		type="text"
		class="form-control form-control-sm"

		placeholder="{{datePattern}}"
		[attr.name]="nameForHtml"
		[attr.next-focus-field]="nextFocusField"
		[ngClass]="cssClasses"

		(mousedown)="mousedown($event)"
		(focus)="openDatepicker()"
		[ngModel]="getDateModel()"
		(ngModelChange)="setModelValue($event)"

		ngbDatepicker
		[dayTemplate]="customDay"
		[placement]="['bottom-left', 'top-left']"
		[footerTemplate]="footerTemplate"

		nucClickOutside
		[evaluateClickOutside]="isClickOutside"
		(clickOutside)="clickOutside()"
		(blur)="blur()"
		container="body"
	>

	<input
		*ngIf="!isEnabled()"
		[attr.name]="nameForHtml"
		[attr.next-focus-field]="nextFocusField"
		[readonly]="true"
		class="form-control form-control-sm"
		[ngModel]="getFormattedDate()"
	>
</div>

<ng-template
	#customDay
	let-date="date"
	let-currentMonth="currentMonth"
	let-selected="selected"
	let-disabled="disabled"
>
	<div class="custom-day btn-light"
		[attr.ngbdatepickerdayview]=""
		[class.bg-highlight]="isHighlighted(date)"
		[class.bg-primary]="selected"
		[class.text-muted]="date.month !== currentMonth"
		[class.outside]="date.month !== currentMonth"
	>
		{{date.day}}
	</div>
</ng-template>

<!-- Necessary for integration tests to be able to find the right datepicker when it is attached only to the body -->
<ng-template #footerTemplate>
	<span [attr.for-id]="id"></span>
</ng-template>
