<div id="input-required-dialog" class="dialog">
	<div class="modal-body">
		<div id="specification-message" [innerHTML]="messageFormatted"></div>

		<div *ngIf="specification.type == 'input_value'">
			<input type="text" [(ngModel)]="inputValue"/>
		</div>
		<div *ngIf="specification.type == 'input_memo'">
			<textarea [(ngModel)]="inputValue"></textarea>
		</div>

		<div *ngIf="specification.type == 'input_option'">
			<select
				[(ngModel)]="inputValue"
			>
				<option
					*ngFor="let item of specification.options"
					[value]="item">
					{{item}}
				</option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<ng-container *ngIf="specification.type == 'input_value'">
			<button type="submit" class="btn btn-primary" (click)="ok(inputValue)" id="button-ok">
				{{'webclient.button.ok' | i18n}}
			</button>
			<button class="btn btn-warning" (click)="cancel();" id="button-cancel">
				{{'webclient.button.cancel' | i18n}}
			</button>
		</ng-container>
		<ng-container *ngIf="specification.type == 'input_memo'">
			<button type="submit" class="btn btn-primary" (click)="ok(inputValue)" id="button-ok">
				{{'webclient.button.ok' | i18n}}
			</button>
			<button class="btn btn-warning" (click)="cancel();" id="button-cancel">
				{{'webclient.button.cancel' | i18n}}
			</button>
		</ng-container>
		<ng-container *ngIf="specification.type == 'input_option'">
			<button type="submit" class="btn btn-primary" (click)="ok(inputValue)" id="button-ok">
				{{'webclient.button.ok' | i18n}}
			</button>
			<button class="btn btn-warning" (click)="cancel();" id="button-cancel">
				{{'webclient.button.cancel' | i18n}}
			</button>
		</ng-container>
		<ng-container *ngIf="specification.type == 'confirm_yes_no'">
			<button type="submit" class="btn btn-primary" (click)="ok(1);" id="button-yes">
				{{'webclient.button.yes' | i18n}}
			</button>
			<button class="btn btn-warning" (click)="ok(2);" id="button-no">
				{{'webclient.button.no' | i18n}}
			</button>
		</ng-container>
		<ng-container *ngIf="specification.type == 'confirm_ok_cancel'">
			<button type="submit" class="btn btn-primary" (click)="ok(0);" id="button-ok">
				{{'webclient.button.ok' | i18n}}
			</button>
			<button class="btn btn-warning" (click)="cancel();" id="button-cancel">
				{{'webclient.button.cancel' | i18n}}
			</button>
		</ng-container>
	</div>
</div>
