<div>
	<ul id="user-menu" class="navbar-nav">
		<li *ngIf="(anonymous || !loggedIn) && !router.url.endsWith('/login')" class="nav-item">
			<a
				class="nav-link"
				[routerLink]="['/login']"
			>
				<i class="fa fa-sign-in"></i>
				{{'webclient.login' | i18n}}
			</a>
		</li>
		<li *ngIf="loggedIn && !anonymous" class="nav-item dropdown">
			<a
				class="nav-link dropdown-toggle ellipsis"
				href=""
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				<i class="fa fa-user"></i>
				{{username}}
			</a>
			<div id="user-menu-dropdown" class="dropdown-menu dropdown-menu-right">
				<a *ngIf="canSharePreferences" class="dropdown-item" [routerLink]="['/preferences']" id="open-preferences-manage">
					<i class="fa fa-wrench"></i>
					{{'webclient.preferences.manage' | i18n}}
				</a>
				<a class="dropdown-item" (click)="openPreferencesResetModal()" id="open-preferences-reset-modal">
					<i class="fa fa-undo"></i>
					{{'webclient.preferences.reset' | i18n}}
				</a>
				<span *ngIf="mandators">
					<span class="dropdown-item">
						<i class="fa fa-universal-access"></i>
						{{'webclient.mandator' | i18n}}
					</span>
					<a
						*ngFor="let mandator of mandators"
						class="dropdown-item mandator-item"
						[ngClass]="{'selected' : (currentMandator && mandator.mandatorId === currentMandator.mandatorId)}"
						(click)="selectMandator(mandator)"
					>
						<i class="fa fa-fw"></i>
						<i
							class="fa fa-fw"
							[ngClass]="{'fa-check-square-o' : (currentMandator && mandator.mandatorId === currentMandator.mandatorId)}"
						></i>
						{{mandator.path}}
					</a>
				</span>
				<a class="dropdown-item" (click)="resetWorkspace()">
					<i class="fa fa-desktop"></i>
					{{'webclient.user.resetworkspace' | i18n}}
				</a>
				<a class="dropdown-item" [routerLink]="['/account/changePassword']">
					<i class="fa fa-key"></i>
					{{'webclient.user.changepassword' | i18n}}
				</a>
				<a id="logout" class="dropdown-item" [routerLink]="['/logout']">
					<i class="fa fa-sign-out "></i>
					{{'webclient.logout' | i18n}}
				</a>
			</div>
		</li>
	</ul>
</div>
