<div class="container-fluid">
	<div class="row" *ngFor="let row of webGrid?.rows">
		<div *ngFor="let cell of row?.cells" [class]="'col-sm-' + cell.colspan">
			<nuc-web-component
				*ngFor="let component of col.components"
				[eo]=eo
				[component]="component"
			></nuc-web-component>
		</div>
	</div>
</div>
