#maintenance-admin {
	padding: 15px;

	margin-left: initial;
	margin-right: initial;
}

#maintenance-mode-status {
	margin-left: 2px;
}

.icon-off {
}

.icon-initialized {
	color: yellow;
}
.icon-on {
	color: orange;
}

button {
	margin-left: 15px;
}
