<div id="perspective-edit" class="dialog">

	<div class="modal-header">
		{{(isNew ? 'webclient.perspective.new.header' : 'webclient.perspective.edit.header') | i18n}}
	</div>

	<div class="modal-body">
		<div class="container-fluid">
			<div class="row mb-3">
				<div class="control-group col-md-12">
					<label for="perspectiveName">{{'webclient.perspective.name' | i18n}}</label>
					<input
						id="perspectiveName"
						type="text"
						[(ngModel)]="perspective.name"
						class="form-control"/>
				</div>
			</div>

			<div class="row mb-3">
				<div class="control-group col-md-12">
					<nuc-perspective-edit-searchtemplate
						[model]="model"
						[perspective]="perspective"
						(change)="applyPerspective()"
					></nuc-perspective-edit-searchtemplate>
				</div>
			</div>

			<div class="row mb-3">
				<div class="control-group col-md-12">
					<nuc-perspective-edit-sideview
						[model]="model"
						[perspective]="perspective"
						(change)="applyPerspective()"
					></nuc-perspective-edit-sideview>
				</div>
			</div>

			<div class="row mb-3">
				<div class="control-group col-md-12">
					<nuc-perspective-edit-detailview
						[model]="model"
						[perspective]="perspective"
						(change)="applyPerspective()"
					></nuc-perspective-edit-detailview>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button
			class="btn btn-warning"
			id="perspectiveCancel"
			(click)="cancel()"
		>
			{{'webclient.button.cancel' | i18n}}
		</button>
		<button
			type="submit"
			class="btn btn-primary"
			id="perspectiveSave"
			(click)="savePerspective()"
			[disabled]="!isValid()"
		>
			{{'webclient.perspective.save' | i18n}}
		</button>
	</div>
</div>
