:host {
	position: relative;
	width: 100%;

	// TODO: Height should be dynamic, but the input does not properly resize yet
	height: 22px;
}

.lov-container {
	position: relative;
	height: 100%;
}

button {
	height: 100%;
	background: lightgray;
	border-color: lightgray;
}


@import "lov-overlay";

.lov-overlay {
	z-index: -1;
}

:host:hover .lov-overlay {
	animation: showtooltip 1s linear alternate;
}

@keyframes showtooltip {
	from { z-index: -1; }
	to { z-index: 101; }
}

.lov-overlay:hover i {
	font-weight: bolder;
}

a {
	cursor: pointer;
}

p-autocomplete {
	height: 100%;
	margin-right: auto;
	border: 0px;
}

:host /deep/ span {
	height: 100%;
}

:host /deep/ input {
	height: 100%;
    opacity: 1;
    background-color: #FFFFFF;
}

:host /deep/ input:disabled {
    opacity: 1;
	background-color: #f8f8f8;
	cursor: not-allowed !important;
}

:host /deep/ input:disabled {
  opacity: 1;
  background-color: #f8f8f8;
  cursor: not-allowed !important;
}

:host /deep/ button:disabled {
    visibility: hidden;
}

@import "lov-highlight";


:host /deep/ p-autoComplete .ui-autocomplete-panel {
	width: initial!important;
	min-width: 100%;
	max-width: 500px;
}

:host /deep/ p-autoComplete .ui-autocomplete-panel ul li div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
