<div
	(mouseover)="mouseover = true"
	(mouseleave)="mouseover = false"
>
	<div
		*ngIf="isEditAllowed()"
		class="overlay-button-container"
	>
		<span
			id="editPerspective_{{getId()}}"
			*ngIf="mouseover"
			(click)="editPerspective()"
			class="overlay-button"
		>
			<i class="fa fa-fw fa-edit"></i>
		</span>
		<span
			id="deletePerspective_{{getId()}}"
			*ngIf="mouseover"
			(click)="deletePerspective()"
			class="overlay-button"
		>
			<i class="fa fa-fw fa-remove"></i>
		</span>
	</div>

	<button
		id="perspective_{{getId()}}"
		[attr.uid]="perspectivePref.prefId"
		class="btn btn-secondary perspective-button"
		(click)="togglePerspective()"
		[ngClass]="{'btn-info': perspectivePref.selected}"
	>
		{{perspectivePref.name}}
	</button>
</div>
