<div *ngIf="superUser">
	<ul id="admin-menu" class="navbar-nav">
		<li class="nav-item dropdown">
			<a
				class="nav-link dropdown-toggle ellipsis"
				href=""
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				<i class="fa fa-cog"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item"
				   [routerLink]="['/view', 'org_nuclos_system_User']"
				>
					<i class="fa fa-user"></i>
					{{'webclient.administration.usermanagement' | i18n}}
				</a>
				<a class="dropdown-item"
				   [routerLink]="['/view', 'org_nuclos_system_Parameter']"
				>
					<i class="fa fa-wrench"></i>
					{{'webclient.administration.parameters' | i18n}}
				</a>
				<a class="dropdown-item" [routerLink]="['/serverinfo']">
					<i class="fa fa-file-text"></i>
					{{'webclient.serverInfo.name' | i18n}}
				</a>
				<a class="dropdown-item"
					[routerLink]="['/view', 'org_nuclos_system_News']"
				>
					<i class="fa fa-newspaper-o"></i>
					{{'webclient.news.name' | i18n}}
				</a>

				<a class="dropdown-item"
					[routerLink]="['/maintenance']"
				>
					<i class="fa fa-clock-o"></i>
					{{'webclient.admin.maintenance.mode' | i18n}}
				</a>
			</div>
		</li>
	</ul>
</div>
