:host {
	height: 100%;
}

#sidebar-list-container {
	overflow: auto;
	height: 100%;
}

.sideview-list-resizable {
	width: 100%;
}
.sideview-list-entry {
	width: 100%;
	cursor: pointer;
}

.title-content {
	font-weight: bold;
}

.info-content {
	margin-bottom: 3px;
}

.sideview-list-resizable {
	min-width: 100%;
}
