<div class="card" id="registration-container">
	<div class="card-header">
		<h4 align=middle>{{'webclient.account.create' | i18n}}</h4>
	</div>
	<div class="card-body container">
		<div>

			<div *ngIf="hasMessage()" class="row">
				<div class="col-md-12 text-center">
					<div [class]="'alert alert-' + messageType">
						<b>{{messageTitle}}</b><br/>
						{{messageText}}
					</div>
				</div>
			</div>

			<div *ngIf="showForm" class="container-fluid">
				<form name="register" (ngSubmit)="onSubmit()">
					<div class="form-group row">
						<label for="username" class="col-md-4 col-form-label">
							{{'webclient.account.username' | i18n}}
						</label>
						<div class="col-md-8">
							<input
								id="username"
								class="form-control form-control-sm"
								name="username"
								type="text"
								placeholder="{{'webclient.account.username' | i18n}}"
								[(ngModel)]="account.username"/>
						</div>
					</div>

					<div class="form-group row">
						<label for="password" class="col-md-4 col-form-label">
							{{'webclient.account.password' | i18n}}
						</label>
						<div class="col-md-8">
							<input id="password"
								class="form-control form-control-sm"
								type="password"
								name="password"
								[(ngModel)]="account.newPassword"/>
						</div>
					</div>

					<div class="form-group row">
						<label for="firstname" class="col-md-4 col-form-label">
							{{'webclient.account.firstname' | i18n}}
						</label>
						<div class="col-md-8">
							<input
								id="firstname"
								class="form-control form-control-sm"
								name="firstname"
								type="text"
								placeholder="{{'webclient.account.firstname' | i18n}}"
								[(ngModel)]="account.firstname"/>
						</div>
					</div>

					<div class="form-group row">
						<label for="lastname" class="col-md-4 col-form-label">
							{{'webclient.account.lastname' | i18n}}
						</label>
						<div class="col-md-8">
							<input
								id="lastname"
								class="form-control form-control-sm"
								name="lastname"
								type="text"
								placeholder="{{'webclient.account.lastname' | i18n}}"
								[(ngModel)]="account.lastname"/>
						</div>
					</div>

					<div class="form-group row">
						<label for="email" class="col-md-4 col-form-label">
							{{'webclient.account.email' | i18n}}
						</label>
						<div class="col-md-8">
							<input
								id="email"
								class="form-control form-control-sm"
								name="email"
								type="email"
								placeholder="{{'webclient.account.email' | i18n}}"
								[(ngModel)]="account.email"/>
						</div>
					</div>

					<div class="form-group row">
						<label for="email2" class="col-md-4 col-form-label">
							{{'webclient.account.confirmemail' | i18n}}
						</label>
						<div class="col-md-8">
							<input id="email2"
								class="form-control form-control-sm"
								name="email2"
								type="email"
								placeholder="{{'webclient.account.email' | i18n}}"
								[(ngModel)]="account.email2"/>
						</div>
					</div>

					<div *ngIf="hasDisclaimer()" class="form-group row">
						<div class="col-md-4"></div>
						<div class="col-md-8">
							<div class="form-check form-check-inline align-middle col-md-12 pl-0">
								<label class="form-check-label align-middle">
									<input
										id="privacyconsent"
										class="form-check-input mr-2 disclaimer-checkbox"
										name="privacyconsent"
										type="checkbox"
										[(ngModel)]="account.privacyconsent"
									/>
									<span class="ml-2 p-0 align-middle disclaimer-item">{{'webclient.account.privacyconsent1' | i18n}}</span>
									<span (click)="showDisclaimer()"
										class="btn btn-link p-0 align-middle disclaimer-item">
									{{'webclient.account.privacyconsent2' | i18n}}
									</span>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<button class="form-control form-control-sm btn btn-primary btn-sm"
							        type="submit">
								{{'webclient.account.register' | i18n}}
							</button></div>
						<div class="col-md-4">
							<button class="form-control form-control-sm btn btn-danger btn-sm"
							        (click)="cancel()">
								{{'webclient.button.cancel' | i18n}}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

