@import "../../../styles";
@import "../../modules/grid/grid.scss";

:host {
	height: 100%;
}

:host /deep/ .ag-fresh {
	font-size: 0.6875rem; /* 11px */
	font-family: sans-serif;
	line-height: 1.5;
}

:host /deep/ .ag-fresh .ag-root {
	border: none;
}

:host /deep/ .ag-cell {
    background-color: inherit;
}

.container-fluid {
	padding: 0px
}

.subform-container {
	/* Negative margin to cancel out the padding of web-component */
	margin-right: -1px;
	margin-bottom: -1px;
	height: calc(100% + 1px); /* Add 1 extra pixel for the negative margin */

	display: flex;
	flex-direction: row;
	background-color: #f8f8f8;

	/* do not let subform toolbar overlap small subforms */
	overflow-y: hidden;
}

.subform {
	height: 100%;
	flex: 1;
	max-width: calc(100%);
}

// Leave some extra space if there are buttons.
// We have to do this manually or the ag-grid will not resize correctly.
.with-buttons {
	max-width: calc(100% - 24px);
}

a i {
	font-size: 0.813em;
}

/*
overflow is set to visible when editing datepicker cells
 */
:host /deep/ .subform-date-cell.ag-cell-inline-editing {
	overflow: visible;
}

:host /deep/ .ag-header-icon i {
	float: right;
	font-size: 0.64em;
	position: relative;
	top: 0.75em;
	margin-left: 0.5em;
}

:host /deep/ .ag-fresh .ag-row-even {
	background-color: #f8f8f8;
}
:host /deep/ .ag-fresh .ag-row-odd {
	background-color: #ebebeb;
}

:host /deep/ .ag-fresh .ag-row-selected {
	background-color: $row-selected-background-color;
}

:host /deep/ .ag-fresh .ag-row-selected .row-new {
	background-color: $row-new-selected-background-color;
}

:host /deep/ .ag-fresh .row-modified {
	background-color: $row-modified-background-color;
}

:host /deep/ .ag-fresh .ag-row-selected.row-modified,
:host /deep/ .ag-fresh .ag-row-selected .row-modified {
	background-color: $row-modified-selected-background-color;
}

:host /deep/ .ag-fresh .row-new {
	background-color: $row-new-background-color;
}

:host /deep/ .ag-fresh .ag-row-selected.row-new,
:host /deep/ .ag-fresh .ag-row-selected .row-new {
	background-color: $row-new-selected-background-color;
}

:host /deep/ .ag-fresh .row-deleted {
	background-color: $row-deleted-background-color;
}

:host /deep/ .ag-fresh .ag-row-selected.row-deleted,
:host /deep/ .ag-fresh .ag-row-selected .row-deleted {
	background-color: $row-deleted-selected-background-color;
}

:host /deep/ .ag-cell {
	white-space: normal !important;
}

// allow text selection for copy/paste in grid
:host /deep/ .ag-font-style {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
