:host, :host .form-control {
    font-size: 11px;
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
}

.selected-icon {
    width: 100%;
    margin-bottom: 10px;
}

.selected-icon, .remove-icon-button {
    font-size: .75rem;
}

.selected-icon .icon-label {
    margin-left: 10px;
}

.icon-selected {
    vertical-align: -8px;
    margin-left: 5px;
    margin-right: 10px;
}

.icon-preview {
    min-width: 180px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    border: lightgray solid 1px;

    background-color: whitesmoke;
    -webkit-transition: background-color ease-out 0.2s 0.1s;
    -moz-transition: background-color ease-out 0.2s 0.1s;
    -o-transition: background-color ease-out 0.2s 0.1s;
    -ms-transition: background-color ease-out 0.2s 0.1s;
    transition: background-color ease-out 0.2s 0.1s;
}

.icon-preview:hover {
    background-color: lightgray;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
}

.icon-label {
    color: gray;
}