<div class="modal-header">
	<h5 class="modal-title">{{'webclient.icon.picker.currently.heading' | i18n}}</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div
			*ngIf="selectedIcon"
			class="selected-icon">
		{{'webclient.icon.picker.currently.selected' | i18n}}:
		<span class="icon-label">   {{ selectedIcon }}</span>
		<i class="material-icons icon-selected">{{ selectedIcon }}</i>
		<button
				class="btn btn-sm btn-warning remove-icon-button"
				(click)="selectIcon(undefined)"
		>{{'webclient.icon.picker.remove' | i18n}}</button>
	</div>
	<div *ngIf="icons.length == 0">Loading...</div>
	<div
		*ngFor="let icon of icons"
		class="icon-preview"
		id="icon_{{ icon.name }}"
		(click)="selectIcon(icon)">
		<i class="material-icons">{{ icon.name }}</i>
		<div class="icon-label">{{ icon.name }}</div>
	</div>

</div>