#search-editor-button-container {
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.search-editor-button {
    margin-top: 4px;
    padding-top: 2px;
    height: 22px;
    border-top: 1px solid #80bbff;
    border-right: 1px solid #80bbff;
    border-bottom: 1px solid #80bbff;
    border-radius: 2px;
    background: #f5f8fa;
}

.search-editor-button-icons {
    height: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.search-editor-button-marked {
    background: #b0dcfa;
}

.search-editor-button-fixed {
    background: lightgray; /*search-editor-bg-gray*/
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    height: 100%;
    color: rgba(0, 0, 0, .4);
}

#search-editor-popover {
    position: absolute;
    z-index: 1000;
    -webkit-box-shadow: 0 5px 10px rgba(176, 220, 250, .5);
    box-shadow: 0 5px 10px rgba(176, 220, 250, .5);
}