:host {
	width: 100%;
	height: 100%;
}

app-tinymce, app-tinymce /deep/ .mce-container {
	height: 100%;
}

/*ckeditor {*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/

/*ckeditor, ckeditor /deep/ .cke_chrome, ckeditor /deep/ .cke_inner {*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/
