:host >>> .ui-autocomplete,
:host >>> ul.ui-autocomplete-multiple-container,
:host >>> li,
:host >>> input
{
    height: 20px;
    min-height: 20px;
}

:host >>> p-autoComplete {
    height: 22px;
    min-height: 22px;
    transition: border-color ease-in-out .15s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .2rem;
}

:host >>> .ui-inputwrapper-focus {
    border-color: #337ab7;
    color: #2e6da4;
}

:host >>> .ui-autocomplete-panel {
    position: fixed;
    /*-ms-transform: translateY(20px); /* IE 9 */
    /*-webkit-transform: translateY(20px); /* Safari */
    /*transform: translateY(20px);*/
}

:host >>> ul.ui-autocomplete-multiple-container {
    border: none;
    padding: 0px;
}

:host >>> ul.ui-autocomplete-multiple-container > li {
    border: none;
}

:host >>> ul.ui-autocomplete-multiple-container > li > input:focus {
    color: #2e6da4;
}

:host >>> .ui-autocomplete-token {
    border: none;
    font-size: 0.75rem;
    vertical-align: bottom;
}

:host >>> .ui-autocomplete-input-token {
    border: none;
    padding: 0rem 0rem 0rem 0.5rem;
    font-size: 0.75rem;
    line-height: 20px;
    vertical-align: bottom;
}