
.nav-item {
	margin-left: 1rem;
}

.dropdown-menu-container {
	cursor: default!important;
}

.icon-container {
	display: inline-block;
	width: 16px;
	height: 16px;
}

img {
	object-fit: contain;
	width: 16px;
	max-height: 16px;
}


.dropdown-submenu {
	position: relative;
}

span.dropdown-item {
	padding-left: 2.75rem;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.dropdown-submenu > span.dropdown-item:after {
	display: block;
	content: ' ';
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover > span.dropdown-item:after {
	border-left-color: #fff;
}
