/*
theme specific CSS
TODO make theme selectable
 */

.theme-basic {

	$colorBlue: #337ab7;
	$colorBlueDark: #2e6da4;
	$colorBlueDarker: #286090;

	$colorPanelBackground: #f8f8f8;


	/*********************
			validation
	*********************/

	.nuc-validation-missing {
		border: 1px solid #ffc900;
		box-shadow: inset 0 0 5px #ffc900;
	}
	.nuc-validation-invalid {
		border: 1px solid red;
		box-shadow: inset 0 0 5px red;
	}

	// Extend for nested input elements (e.g. LOV component)
	.nuc-validation-missing input {
		@extend .nuc-validation-missing !optional
	}

	.nuc-validation-invalid input {
		@extend .nuc-validation-invalid !optional
	}

	.nuc-validation-valid input {
		@extend .nuc-validation-valid !optional
	}

	/*********************
			menu
	 *********************/

	$menuTextColor: #AAA;

	$gradientTopColor: #828282;
	$gradientBottomColor: #5E5E5E;

	nuc-menu nav.bg-faded {

		/* IE10 Consumer Preview */
		background-image: -ms-linear-gradient(top, $gradientTopColor 0%, $gradientBottomColor 100%);

		/* Mozilla Firefox */
		background-image: -moz-linear-gradient(top, $gradientTopColor 0%, $gradientBottomColor 100%);

		/* Opera */
		background-image: -o-linear-gradient(top, $gradientTopColor 0%, $gradientBottomColor 100%);

		/* Webkit (Safari/Chrome 10) */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $gradientTopColor), color-stop(1, $gradientBottomColor));

		/* Webkit (Chrome 11+) */
		background-image: -webkit-linear-gradient(top, $gradientTopColor 0%, $gradientBottomColor 100%);

		/* W3C Markup, IE10 Release Preview */
		background-image: linear-gradient(to bottom, $gradientTopColor 0%, $gradientBottomColor 100%);
	}

	.navbar-light .navbar-nav .nav-link,
	.navbar-light .navbar-text {
		color: $menuTextColor;
	}

	.navbar-light .navbar-nav .nav-link:focus,
	.navbar-light .navbar-nav .nav-link:hover {
		color: gray;
	}

	.navbar-light .navbar-nav .nav-link.dropdown-toggle:focus,
	.navbar-light .navbar-nav .nav-link.dropdown-toggle:hover,
	.navbar-light .navbar-text:hover {
		color: white;
	}

	nuc-menu a {
		color: black;
	}

	/*********************
			panels
	 *********************/
	nuc-web-container.opaque {
		background-color: $colorPanelBackground;
	}
	.nav-tabs .nav-link.active {
		background-color: $colorPanelBackground;
		border-bottom: transparent;
	}
	.nav-tabs .nav-link {
		height: 100%;
		border: 1px solid lightgray;
		border-left: transparent;
		border-radius: 0;
	}
	//.nav-tabs .nav-item {
	//	flex: 1 1 auto;
	//}
	.nav-tabs .nav-item:nth-child(1) .nav-link {
		border-left: 1px solid lightgray;
	}

	/*********************
			buttons
	 *********************/
	nuc-detail-buttons .btn i {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.btn-primary:not(.btn-warning):not(.btn.btn-danger) {
		background-color: $colorBlue;
		border-color: $colorBlueDark;
	}

	.btn-primary:hover {
		background-color: $colorBlueDarker;
		border-color: black;
	}

	// NUCLOS-6329 18)
	/*default: #0275d8*/
	.btn {
		font-size: 13px;
	}

	.btn-primary {
		background-color: #1190fe;
		border-color: #c1c1c1;
	}

	/*default: #d9534f*/
	.btn-danger {
		background-color: #fd770a;
		border-color: #c1c1c1;
	}

	.btn-danger :hover {
		background-color: #cd5700;
	}

	/*default: #5cb85c*/
	.btn-success {
		background-color: #1190fe;
		border-color: #c1c1c1;
	}

	.btn-success :hover {
		background-color: #0400ae;
	}

	/*default: #f0ad4e*/
	.btn-warning {
		background-color: #fdae0a;
		border-color: #c1c1c1;
	}

	.btn-warning :hover {
		background-color: #dd8e00;
	}

	/*********************
			links
	 *********************/
	a, .btn-link {
		color: $colorBlue;
		cursor: pointer;
	}

	/*********************
			form input
	 *********************/

	nuc-layout, nuc-layout .form-control, .ui-autocomplete-panel {
		font-size: 0.6875rem; /* 11px */
		padding-left: 0.125rem;
		padding-right: 0.125rem;
	}

	.ui-autocomplete-panel {
		z-index: 9999!important;
	}

	.form-control:focus {
		border-color: $colorBlue;
		color: $colorBlueDark;
	}

	button.form-control:focus {
		color: white;
	}

	.nuc-button:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	.nuc-layout-button {
		padding: 0px;
		width: 100%;
		height: 100%;
		font-size: 0.6875rem;
	}

	nuc-web-component, nuc-web-panel {
		padding-right: 1px;
		padding-bottom: 1px;
	}

	p-autocomplete .ui-inputtext:enabled:focus {
		border-color: #337ab7;
		color: #2e6da4;
	}

	.perspective-button {
		display: inline-block;
		height: 60%;
		font-size: 0.6875rem; /* 11px */
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 3px;
		margin-bottom: 8px;
		position:relative;
		/*vertical-align: middle;*/
	}

	/**
		tooltip styles
	**/

	.rule-tooltip .tooltip-inner {
		background-color: #fef4a9;
		color: #4C4C4E;// #BA7D57;
		display: block;
		border: 0;
	}
	.rule-tooltip .tooltip-main {
		border-radius: 50%;
		border: 1px solid black;
	}

	/***************************
    	login / authentication
 	***************************/

	$cardHeaderColor: gray;
	$cardHeaderTextColor: white;

	.card {
		border-color: $cardHeaderColor;
	}
	.card-header,
	.card-header a {
		background-color: $cardHeaderColor;
		border-color: $cardHeaderColor;
		color: $cardHeaderTextColor;
	}

	.card-header h4,
	.card-header h4 {
		margin-top: 0px;
		margin-bottom: 0.2rem;
		font-size: 1rem;
	}

	.custom-modal-window .modal-dialog {
		max-width: unset !important;
		display: table;
	}

	.fullsize-modal-window .modal-dialog {
		height: 100%;
		width: 95%;
		max-width: 100%;
		margin-bottom: 0px;
		padding-top: 19px;
		margin-top: 0px;
		padding-bottom: 20px;
	}
	.fullsize-modal-window .modal-dialog .modal-content { height: 100%; }
	.fullsize-modal-window .modal-dialog #detailblockModal { height: 100%; }
	.fullsize-modal-window .modal-dialog #detailblockModal #detailblock { width: 100%; }
	.fullsize-modal-window .modal-dialog #detailblockModal #detailblock .form-group { height: 100%; padding-left: 0px; }
}

.list-group-item {
	word-break: break-word;
}

.card>.list-group:last-child .list-group-item:last-child {
	border-bottom: 0;
}
