<label for="perspectiveEditDetailview">{{'webclient.perspective.detailview' | i18n}}</label>

<div class="card" id="perspectiveEditDetailview">
	<div class="card-body">
		<div class="card-text">
			<div class="row mb-3">
				<div class="control-group col-md-12">
					<nuc-perspective-edit-layout
						[model]="model"
						[perspective]="perspective"
						(change)="change.next()"
					></nuc-perspective-edit-layout>
				</div>
			</div>

			<div class="row">
				<div class="control-group col-md-12">
					<nuc-perspective-edit-subforms
						[model]="model"
						[perspective]="perspective"
						(change)="change.next()"
					></nuc-perspective-edit-subforms>
				</div>
			</div>
		</div>
	</div>
</div>
