:host, :host .form-control {
    font-size: 0.75rem;
}

#search-editor {
    flex: 1;
    display: flex;
    flex-flow: column;
}

#search-editor #search-editor-toolbar {
    background-color: lightgray; /*search-editor-bg-gray*/
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    padding-top: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
}

:host >>> .toolbar-button {
	float: right;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 26px;
	height: 26px;
}

:host >>> .toolbar-button:disabled {
    cursor: not-allowed;
}

:host >>> #done-button {
    font-size: 0.75rem;
}

:host >>> .icon-picker-button {
    font-size: 0.75rem;
}

#search-editor #search-editor-fixed-button {
    margin-right: 5px;
}

#search-editor .button-active {
    color: #ffffff;
}

#search-editor .h-line {
    margin-top: 15px;
    border-bottom: lightgray solid 2px;
}

#search-editor >>> .icon-picker {
    margin-top: 5px;
    margin-left: 5px;
}

#search-editor #search-item-ordering-container {
    flex: 1;
}

#search-editor #meta-editor-container {
    display: flex;
    flex-flow: column;
    padding: 10px;
}

#search-editor #meta-editor-name, #meta-editor-position {
    display: flex;
	margin-top: 5px;
    align-items: baseline;
}

#search-editor #meta-editor-name-input {
    margin-left: 5px;
    flex: 1;
}

#search-editor #meta-editor-position {
    margin-top: 5px;
}

#search-editor #meta-editor-position-input {
    margin-left: 5px;
    width: 6rem;
}

#search-editor .meta-buttons-container {
    display: flex;
}

#search-editor .meta-editor-button {
    margin-top: 5px;
    font-size: .75rem;
}

#search-editor .search-editor-attributes-container {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    background-color: rgba(242, 242, 242, 0.91);
}

#search-editor .search-editor-attributes-container-popover {
    min-width: 330px;
    max-height: calc(100vh - 150px);
    max-width: calc(100vw - 150px);
}

#search-editor .search-editor-content {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}

#search-editor .search-editor-content:empty {
    height: 0%;
    opacity: 0;
    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

#search-editor #search-items {
    display: flex;
    flex-flow: column;
}

#search-editor #search-items-container {
    padding-top: 1px;
}

#search-editor .create-searchfilter-button {
    font-size: .75rem;
}

#search-editor .select-searchfilter-button {
    font-size: .75rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#search-editor .select-searchfilter-button i {
    margin-left: -10px;
    margin-right: 5px;
}

#search-editor .attribute {
	height: 51px;
	margin-bottom: 1px;
}

#search-editor .attribute-row-header {
    display: inline-block;
    width: 24px;
	height: 100%;
    padding-left: 6px;
    padding-top: 12px;
    background-color: lightgray; /*search-editor-bg-gray*/
    padding-bottom: 8px;
}

#search-editor .attribute-row-header-filler {
    width: 24px;
    background-color: rgba(211, 211, 211, 0.51);
    flex: 1;
}

#search-editor .attribute-row {
    display: inline-block;
    vertical-align: top;
    padding-left: 6px;
}

#search-editor .attribute-label {
    font-weight: bold;
    color: rgba(0, 0, 0, .2);
}

#search-editor .searchattribute-remove {
	margin-top: -3px;
}

#search-editor .attribute-label-enabled {
    color: rgba(0, 0, 0, 1);
}

#search-editor .attribute-editor {
    vertical-align: top;
    margin-left: 4px;
    margin-right: 10px;
    font-size: 11px;
}

#search-editor .attribute-operator {
    display: inline-block;
    height: 22px;
    vertical-align: top;
}

#search-editor .attribute-operator-select {
    height: 22px;
    vertical-align: 2px;
}

#search-editor .attribute-value-boolean {
    display:inline-block;
    margin-top: 4px;
    margin-left: 5px;
    height: 18px;
}

#search-editor .search-input {
    height: 22px;
    min-height: 22px;
}

#search-editor .attribute-value {
    display:inline-block;
    margin-left: 5px;
    height: 22px;
}

#search-editor .attribute-selector {
    margin-top: auto;
    background-color: lightgray; /*search-editor-bg-gray*/
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

#search-editor .attribute-selector-label {
    margin-top: 7px;
    margin-right: 5px;
    float: left;
    height: 100%;
}

#search-editor .attribute-selector-dropdown {
    height: 100%;
}

#searchfilter-value {
    height: 22px;
    min-height: 22px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: .75rem;
}

:host >>> .select-box {
    max-height: none !important;

}

:host >>> .select-box-container-selected {
    margin-left: 10px;
    margin-right: 10px;
}

:host >>> .select-item {
    margin-top: 1px;
    margin-bottom: 1px;
}

:host >>> .select-item .direction-icons {
    display: initial !important;
    color: transparent;
}

:host >>> .select-item:hover .direction-icons {
    color: #337ab7;
}

:host >>> .select-item-name {
    font-size: .75rem;
    padding: 2px;
}

:host >>> .sort-icon {
    font-size: .75rem;
}
