@import "../../modules/grid/grid.scss";

:host {
	height: 100%;
}

.container-fluid {
	padding: 0px
}

.grid-container {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.nucgrid {
	height: 100%;
	flex: 1;
}

a i {
	font-size: smaller;
}


:host /deep/ .ag-fresh {
	font-size: 0.6875rem; /* 11px */
}

:host /deep/ .ag-fresh .ag-header-cell {
	padding-top: 0px;
}

/* remove empty line in header */
:host /deep/ .ag-fresh .ag-header-cell-text {
	padding-left: 0;
}

/* correct dropdown position */
:host /deep/ p-autoComplete .ui-autocomplete-panel {
	top: 24px;
}
