<div *ngIf="news">
	<ul id="news" class="navbar-nav">
		<li class="nav-item dropdown">
			<a
				class="nav-link dropdown-toggle ellipsis"
				href=""
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				<i class="fa fa-question-circle"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" *ngFor="let item of news"
					(click)="showNews(item)">
					<i class="fa fa-exclamation-circle"></i>
					{{item.title || item.name}}
				</a>
			</div>
		</li>
	</ul>
</div>
