<div id="accordion" role="tablist" aria-multiselectable="true" class="container mt-5">
	<h2 class="mb-3">
		{{'webclient.cache.overview' | i18n}}
	</h2>

	<div *ngIf="getCaches().length == 0" class="alert alert-warning" role="alert">
		{{'webclient.cache.empty' | i18n}}
	</div>

	<div *ngFor="let cache of getCaches(); let index = index;" class="card">
		<div class="card-header" role="tab" [id]="'heading-' + index">
			<h5 class="mb-0">
				<a [href]="'#collapse-' + index"
				   data-toggle="collapse"
				   data-parent="#accordion"
				   aria-expanded="true"
				   [attr.aria-controls]="'collapse-' + index"
				>
					{{cache.key}} ({{cache.value.entries().length}})
				</a>
			</h5>
		</div>

		<div [id]="'collapse-' + index"
		     class="collapse"
		     role="tabpanel"
		     [attr.aria-labelledby]="'#heading-' + index"
		>
			<div class="card-body">
				<div *ngFor="let cacheItem of cache.value.entries()">
					{{cacheItem.key}}
				</div>
			</div>
		</div>
	</div>
</div>
