<div class="toolbar">
	<div *ngIf="!showProgress()" class="btn-group mr-2" role="group">
		<button
			id="backToDetails"
			class="btn btn-sm btn-success toolbar-item"
			(click)="backToDetails()"
		>
			{{ 'webclient.button.backToDetails' | i18n }}
		</button>
		<button
			id="backToCollectiveProcessing"
			class="btn btn-sm btn-success toolbar-item"
			[disabled]="true"
		>
			{{ 'webclient.button.backToCollectiveProcessing' | i18n }}
		</button>
	</div>
	<div *ngIf="!showProgress()">
		<button
			id="cancelCollectiveProcessing"
			class="btn btn-sm btn-warning toolbar-item"
			(click)="cancelCollectiveProcessing()"
		>
			<i class="fa fa-fw fa-times"></i>
			{{ 'webclient.button.cancelCollectiveProcessing' | i18n }}
		</button>
	</div>
	<div *ngIf="showProgress()" class="btn-group mr-2" role="group">
		<button
			id="closeProgress"
			class="btn btn-sm btn-success toolbar-item"
			(click)="closeProgress()"
		>
			{{ 'webclient.button.close' | i18n }}
		</button>
		<button
			*ngIf="isProgressing"
			id="abortProgress"
			class="btn btn-sm btn-warning toolbar-item"
			(click)="abortProgress()"
		>
			<i class="fa fa-fw fa-times"></i>
			{{ 'webclient.button.cancel' | i18n }}
		</button>
	</div>
</div>

<div class="collective-processing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<ng-container *ngIf="!showProgress()">
		<p *ngIf="multiSelectionResult.headerMultiSelectionAll && !multiSelectionResult.hasIds()">
			{{ 'webclient.collectiveProcessing.header.all' | i18n }}
		</p>
		<p
			*ngIf="
				multiSelectionResult.headerMultiSelectionAll && multiSelectionResult.countIds() > 1
			"
		>
			{{
				'webclient.collectiveProcessing.header.allExcept'
					| i18n: multiSelectionResult.countIds()
			}}
		</p>
		<p
			*ngIf="
				multiSelectionResult.headerMultiSelectionAll && multiSelectionResult.countIds() == 1
			"
		>
			{{ 'webclient.collectiveProcessing.header.allExceptOne' | i18n }}
		</p>
		<p
			*ngIf="
				!multiSelectionResult.headerMultiSelectionAll && multiSelectionResult.countIds() > 1
			"
		>
			{{
				'webclient.collectiveProcessing.header.many' | i18n: multiSelectionResult.countIds()
			}}
		</p>
		<p
			*ngIf="
				!multiSelectionResult.headerMultiSelectionAll &&
				multiSelectionResult.countIds() == 1
			"
		>
			{{ 'webclient.collectiveProcessing.header.one' | i18n }}
		</p>
	</ng-container>
	<ng-container *ngIf="showProgress()">
		<p>{{ 'webclient.collectiveProcessing.header.result' | i18n }}</p>
	</ng-container>
</div>

<div class="container-fluid card-deck mb-3 mx-auto text-container" *ngIf="!showProgress()">
	<div class="card mb-4 shadow-sm" *ngIf="noProgressingOptions">
		<div class="card-header">
			<span class="my-0 font-weight-normal">{{
				'webclient.collectiveProcessing.selOptionsNotFound.title' | i18n
			}}</span>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				{{ 'webclient.collectiveProcessing.selOptionsNotFound.message' | i18n }}
			</li>
		</ul>
	</div>
	<div class="card mb-4 shadow-sm" *ngIf="selectionOptions && selectionOptions.actions">
		<div class="card-header">
			<span class="my-0 font-weight-normal">{{'webclient.collectiveProcessing.actions.name' | i18n }}</span>
		</div>
		<ul class="list-group list-group-flush">
			<li
				*ngFor="let action of selectionOptions.actions"
				class="list-group-item collective-processing-object-action"
			>
				<ng-container [ngSwitch]="action.name">
					<ng-container *ngSwitchCase="'delete'">
						<a (click)="executeAction(action)" class="card-link" href="#">
							{{'webclient.collectiveProcessing.actions.delete.name' | i18n}}
						</a>
						<div class="card-function-icon">
							<sup><span class="fa fa-fw fa-trash-o" *ngIf="action.name === 'delete'"></span></sup>
						</div>
					</ng-container>
				</ng-container>
			</li>
		</ul>
	</div>
	<div *ngIf="selectionOptions && selectionOptions.stateChanges" class="card mb-4 shadow-sm">
		<div class="card-header">
			<span class="my-0 font-weight-normal">{{
				'webclient.collectiveProcessing.stateChange.name' | i18n
			}}</span>
		</div>
		<ul class="list-group list-group-flush">
			<li
				*ngFor="let stateChange of selectionOptions.stateChanges"
				class="list-group-item collective-processing-state-change-action"
				[ngStyle]="{ 'background-color': stateChange.color }"
				id="collective-processing-state-{{ cleanStringForId(stateChange.subName) }}"
			>
				<a (click)="executeAction(stateChange)" class="card-link" href="#"
				   [ngStyle]="{ 'color': calculateTextColorFromBackgroundColor(stateChange.color, false) }"
				>{{
					stateChange.name
				}}</a>
				<div class="card-function-icon">
					<sup
						><span
						[ngStyle]="{ 'color': calculateTextColorFromBackgroundColor(stateChange.color, true) }">{{ stateChange.subName }}</span></sup
					>
				</div>
			</li>
		</ul>
	</div>
	<div *ngIf="selectionOptions && (selectionOptions.customRules || selectionOptions.generators)"  class="card mb-4 shadow-sm">
		<div class="card-header">
			<span class="my-0 font-weight-normal">{{
							'webclient.collectiveProcessing.customRules.name' | i18n
			}}</span>
		</div>
		<ul class="list-group list-group-flush">
			<li *ngFor="let rule of selectionOptions.customRules"
			    class="list-group-item collective-processing-function-action"
			    id="collective-processing-function-{{ cleanStringForId(rule.name) }}">
				<a (click)="executeAction(rule)"
				   class="card-link"
				   href="#"
				   placement="top"
				   ngbTooltip="{{rule.description}}"
				   tooltipClass="rule-tooltip">
				   {{rule.name}}
				</a>
				<div class="card-function-icon"><sup><span class="fa fa-fw fa-code"></span></sup></div>
			</li>
			<li *ngFor="let generator of selectionOptions.generators"
			    class="list-group-item collective-processing-function-action"
			    id="collective-processing-function-{{ cleanStringForId(generator.name) }}">
				<a (click)="executeAction(generator)"
				   class="card-link"
				   href="#"
				   placement="top"
				   ngbTooltip="{{generator.description}}"
				   tooltipClass="rule-tooltip">
					{{generator.name}}
				</a>
				<div class="card-function-icon"><sup><span class="fa fa-fw fa-code"></span></sup></div>
			</li>
		</ul>
	</div>
</div>

<nuc-collective-processing-progress
	*ngIf="showProgress()"
	(progressNumber)="progress($event)"
	(progressStatus)="updateStatusLine($event)">
</nuc-collective-processing-progress>
