@import "../../../../styles";
@import "../detail-toolbar/detail-toolbar.component.css";

:host, :host .form-control {
	font-size: 13px;
	margin-bottom: 15px;
}

:host {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
}

nuc-collective-processing {
	width: 100%;
	height: 100%;
	flex-grow: 1;
}

.collective-processing-header {
	max-width: 700px;
	font-size: 16px;
	font-weight: 300;
}

.card-deck {
	margin: 5px;
	align-content: center;
	max-width: 700px;
}

.card {
	margin-left: 10px!important;
	margin-right: 10px!important;
	max-width: 18rem;
	min-width: 12rem;
}

.card-body {
	margin: 4px;
}

.card-function-icon {
	position: absolute;
	top: 0px;
	right: 2px;
	width: 100px;
	text-align: right;
	color: gray;
}
