<div
	#sidebar
	id="sidebar"

	mwlResizable
	[enableGhostResize]="false"
	(resizing)="onResize($event)"
	(resizeEnd)="onResizeEnd($event)"
	class="d-flex flex-row"
>
	<div class="d-flex flex-column border-right-custom"
	     [ngStyle]="{width: getCurrentWidth() + 'px'}">
		<div id="search-editor-container"
		    *ngIf="isSearchEditorFixedAndShowing()"
			mwlResizable
			[enableGhostResize]="false"
			(resizing)="onResizeSearch($event)"
			(resizeEnd)="onResizeEndSearch($event)">
		<nuc-search-editor id="search-editor"
			[searchAttributesContainerHeight]="getSearchAttributesContainerHeight()">
		></nuc-search-editor>
			<div mwlResizeHandle id="search-editor-resize-handle"
			    [resizeEdges]="{bottom: true, right: false, top: false, left: false}">
				<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
			</div>
		</div>

		<nuc-entity-object-grid
			id="sidebar-grid"
			[gridOptions]="gridOptions"
			[columns]="gridColumns"
			[sortModel]="sortModel"
			(rowSelected)="rowSelected($event)"
			(gridReady)="gridReady()"
			(modelUpdated)="autoSizeColumnsForCardLayout()"
			[showMultiSelection]="showMultiSelection"
			[multiSelectionDisabled]="multiSelectionDisabled"
			(onMultiSelectionChange)="onMultiSelectionChange.emit($event)"
			[allowMultiRowSelection]="!multiSelectionDisabled"
			class="d-flex flex-grow-1"
		></nuc-entity-object-grid>

		<nuc-statusbar
			id="sidebar-statusbar"
			[meta]="getMeta()"
			[sideviewmenuPreference]="sideviewmenuPreference"
			[searchtemplatePreference]="searchtemplatePreference"
			*ngIf="sideviewmenuPreference"
			[(sideviewMenuWidth)]="sideviewmenuPreference.content.sideviewMenuWidth"
			(sideviewMenuWidthChange)="sidebarWidthChanged()"
			[sidebar]="this"
		></nuc-statusbar>
	</div>
	<div class="d-flex flex-column justify-content-center">
		<nuc-resizehandledivider
			[dividerWidth]="resizeWidth"
			[resizeEdges]="{bottom: false, right: true, top: false, left: false}"
		    [showLeftToggle]="true"
		    [showRightToggle]="true"
			(leftToggle)="resizeLeftMax()"
			(rightToggle)="resizeRightMax()">
		</nuc-resizehandledivider>
	</div>
</div>
