@import "../../../../styles";

$icon-default-color: #337DC3;


:host {
	font-size: 0.75rem;
	position: relative;
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

/*
 only for Safari browser - this would break layout in firefox
 */
.browser-safari :host {
	display: flex;
	flex-direction: column;
}

.border-right-custom {
	border-right: 1px solid lightgrey;
}

.border-top-bottom {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

#detail {
	height: 100%;
	position: absolute;
	width: 200px;
}

#sidebar-list-container {
	width: 100%;
	overflow: auto;
}

#sidebar {
	flex: 1;
	display: flex;
	flex-flow: column;
	height: 100%;
	border-right: 1px solid lightgray;
}

#sidebar > #sidebar-list-container {
	flex: 1;
}

#sidebar > #search-editor {
    display: flex;
    flex-flow: column;
}

#sidebar > #search-editor-container {
    display: flex;
    flex-flow: column;
}

#search-editor-resize-handle {
    height: 8px;
    width: 100%;
    cursor: ns-resize;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: lightgray; /*search-editor-bg-gray*/
}

#search-editor-resize-handle > i {
    height: 100%;
    line-height: 10px;
    color: #FFFFFF;
}

.tdSelectClass {
	background-color: $row-selected-background-color;
}

.trSelectClass td, .tdSelectClass:hover {
	background-color: #C0C0C0 !important;
}

:host /deep/ .ag-fresh .dirty-eo,
.trDirtyClass td, .tdDirtyClass {
	background-color: $row-modified-background-color !important;
}

.trDirtyClass:hover td, .tdDirtyClass:hover {
	background-color: $row-modified-selected-background-color !important;
}

:host /deep/ .ag-fresh .new-eo,
.trNewClass td, .tdNewClass {
	background-color: $row-new-background-color !important;
}

.trNewClass:hover td, .tdNewClass:hover {
	background-color: $row-new-selected-background-color !important;
}

.tdSelectClass.tdRowColored {
	filter: brightness(60%);
}

.tdRowColored:hover {
	filter: brightness(80%);
}

.icon-column {
	min-width: 22px;
	min-height: 26px;

}


.sideview-list-entry {
	white-space: nowrap;
	padding-right: 10px;
}

.sideview-list-entry .cell-content {
	cursor: pointer;
}

.sideview-list-resizable {
	margin-top: 0px;
	overflow: hidden;
	width: initial;
}

.sideview-list-resizable th {
	white-space: nowrap;
	vertical-align: top;
}

.sideview-list-resizable tr th {
	background-color: white;
	height: 30px;
}

.sideview-list-resizable tr:first-child {
	border-bottom: 1px solid #BDBDBD;
}

.sideview-list-resizable td {
	/*width: -4px;*/
	vertical-align: top;
	padding: 0 3px 0 3px;
}

.sideview-list-resizable th.resizable-th:not(:first-child) {
	cursor: pointer;
	padding-left: 3px;
	height: 100%;
}

.sideview-list-resizable tr:first-child {
	height: 4px;
}

.sideview-list-resizable th.resizable-th .sort-icon {
	font-size: 0.64em;
	width: 9px;
	height: 9px;
	color: $icon-default-color;
}

.sideview-list-resizable th.resizable-th:not(:first-child):after {
	display: flex;
	opacity: 0;
	content: '_';
	position: relative;
	width: 6px;
	top: 5px;
	height: 35px;
	right: -3px;
	margin-top: -10px;
	margin-left: -100px; /* avoid floating below th */
	cursor: ew-resize;
	float: right;
}

.sideview-list-resizable.resizing th.resizable-th {
	cursor: ew-resize;
}

.resize-handle {
	z-index: 1;
	position: absolute;
	width: 20px;
	right: -7px;
	height: 100%;
	cursor: ew-resize;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resize-handle > i {
    margin-left: 8px;
    color: lightgray;
}

.sideview-list-resizable .sort-icon {
	position: relative;
	top: 13px;
	margin-right: 5px;
}

.sideview-list-resizable .header, .sideview-list-resizable .sort-icon {
	top: 0px;
	/*left: 5px;*/
}

.sideview-list .drag-column {
	border-left: 1px solid darkgray;
}

.sideview-list .drag-column-left {
	border-left: 1px solid darkgray;
}

.sideview-list .drag-column-right {
	border-right: 1px solid darkgray;
}

div.sideview-list {
	height: 100%;
	background-color: #ffffff;
}

.sideview-list-entry {
	padding: 2px 0px 2px 0px;
}

.sideview-list-entry-title {
	padding-bottom: 0px;
	padding-left: 2px;
	display: inline-block;
	overflow-y: hidden;
	white-space: nowrap;
}

.sideview-list-entry-column {
	width: 100px;
	float: left;
	border-right: 1px solid lightgray;
}

/*
.sideview-is-expanded .sideview-list-resizable  th:first-child {
	width: 22px;
}

.sideview-is-expanded .sideview-list-resizable  th:last-child, .sideview-is-expanded .sideview-list-resizable  td:last-child {
	opacity: 0;
	border: none;
	display: none;
}

*/

.resizable-th span.sortable-header {
	color: $icon-default-color;
}

.resizable-th span:not(.sortable-header) {
	cursor: default;
}

.sideview-list-resizable .resizing {
	border-right: 1px solid lightgray;
}

.sideview-list-resizable th:after {
	width: 100%;
	height: 100%;
	border: 1px solid;
	border-radius: 4px 4px 0 0;
	border-color: $icon-default-color;
}


#sideviewmenu {
	padding-bottom: 20px;
}

.sideview-statusbar .sideview-statusbar-content {
	float: right;
	z-index: 0;
	padding: 2px 8px;
	color: rgba(0, 0, 0, 0.43);
}

#sideviewmenu .sideview-statusbar .sideview-statusbar-content > div {
	float: left;
	margin-right: 5px;
}

.sideview-statusbar .sideview-statusbar-buttons {
	position: inherit;
	float: left;
	left: 3px;
	padding-right: 2px;
}

.sideview-statusbar .icon-btn {
	padding: 2px 4px;
	background-color: #EEE;
	position: inherit;
	float: right;
}

/* sideview statusbar right side */
nuc-detail .sideview-statusbar {
	left: 3px;
}

nuc-detail .sideview-statusbar .sideview-statusbar-content {
	width: 100%;
	text-align: right;
}

.modal #sideview-details {
	border: none;
	margin-left: 2px;
}

.modal .sideview-statusbar {
	display: none;
}



/* ag-grid */

#sidebar-grid {
    /*  Workaround for Firefox and wrong height calculation after showing the search editor
        flex: 1;
     */
	width: 100%;
	height: 100%;
	display: flex;
}

#sidebar-grid ag-grid-angular {
	width: 100%;
	height: 100%;
}

:host /deep/ .ag-fresh {
	font-size: 0.6875rem; /* 11px */
}

/* remove borders */
:host /deep/ .ag-fresh .ag-root {
	border: none;
}
:host /deep/ .ag-fresh .ag-ltr .ag-cell-no-focus,
:host /deep/ .ag-fresh .ag-ltr .ag-cell-focus {
	border-right: none;
	border: none;
}


:host /deep/ .ag-fresh .ag-body {
	background-color: white;
}

:host /deep/ .ag-fresh .ag-row-odd {
	background-color: #fff;
}

:host /deep/ .ag-fresh .ag-row-selected {
	background-color: $row-selected-background-color;
}

/* make selected row use complete sidebar width */
:host /deep/ .ag-fresh .ag-row::after {
	// width: 100vw; // width will be set in SidebarComponent.fixRowBackgroundColor()
	height: 25px;
	display: block;
	content: '_';
	color: transparent;
}
:host /deep/ .ag-fresh .ag-row-selected::after {
	background: $row-selected-background-color;
}
:host /deep/ .ag-fresh .new-eo::after
{
	background: $row-new-background-color;
}
:host /deep/ .ag-fresh .dirty-eo::after
{
	background: $row-modified-background-color;
}


/* header */
:host /deep/ .ag-fresh .ag-header .ag-pinned-left-header,
:host /deep/ .ag-fresh .ag-header .ag-pinned-right-header,
:host /deep/ .ag-fresh .ag-header-viewport {
	background-color: white;
}



//@import "../../grid/grid.scss";
