.toolbar {
	margin-top: 14px; /* standard border in layout */
	margin-left: 14px;
	display: flex;
	flex-direction: row;
	height: 28px;
	min-height: 28px;
}

.toolbar-item {
	height: 30px; /* detail-toolbar-item.component.css */
}

nuc-detail-toolbar-state-item {
	margin-left: 1px;
}
