<div id="searchbar">

	<nuc-search-editor-button
	></nuc-search-editor-button>

	<nuc-text-search
			[eo]="eo"
			[meta]="meta"
	></nuc-text-search>

	<div *ngIf="getTaskListName()"
		id="task-list-label">
		{{'webclient.search.taskList' | i18n}}{{getTaskListName()}}
	</div>

	<div *ngIf="hasFavoriteSearchfilters()"
		id="searchfilter-favorites-container">
		<span
				*ngFor="let searchfilter of getFavoriteSearchfilters()"
				class="searchfilter-favorite-button {{ getSearchfilterElementClass(searchfilter) }}"
				[ngClass]="{'searchfilter-favorite-button-selected': isSelectedSearchfilter(searchfilter),
							'searchfilter-favorite-button-unselected': !isSelectedSearchfilter(searchfilter)}"
				(click)="selectSearchfilter(searchfilter)">
			<i *ngIf="searchfilter.content.favoriteIcon"
		        class="material-icons">{{ searchfilter.content.favoriteIcon }}</i>
			{{ searchfilter.name }}
			<span
					[ngStyle]="{visibility: searchfilter.dirty !== true ? 'hidden' : 'unset'}"
					class="red-triangle-topright"></span>
		</span>
	</div>

</div>
